[submodule "Packages/2026_01_18_upm_nes_controller_udp"]
	path = Packages/2026_01_18_upm_nes_controller_udp
	url = https://github.com/EloiStree/2026_01_18_upm_nes_controller_udp.git
[submodule "Packages/2026_01_18_upm_nes_udp_multiplayer"]
	path = Packages/2026_01_18_upm_nes_udp_multiplayer
	url = https://github.com/EloiStree/2026_01_18_upm_nes_udp_multiplayer.git
